
<div class="row">
	<div class="col-sm-4">
		<strong> Chat rooms </strong>
	</div>
	<div class="col-sm-4"><strong>Incoming messages</strong>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="list-group" id="whatshot">
			<% @unread_messages.each do |m| %>
			<div class="list-group-item"><%= render 'unread_message', u_message: m.first %>				
			</div>
			<% end %>
		</div>

	</div>
	<div class="col-sm-8">
		<div class="list-group" id="message_content">
			abcd
		</div>
	</div>
