<table class="table table-default">
	<thead class="thead thead-default">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Created at</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<th><%= user.name %></th>
			<th><%= user.email %></th>
			<th><%= time_ago_in_words user.created_at %></th>
		</tr>
		<% end %>


	</tbody>
</table>